requests==2.28.2               # Biblioteca para realizar requisições HTTP (para a API Football)
python-telegram-bot==20.0      # Biblioteca para interação com o Telegram Bot
python-dotenv==1.0.0           # Para carregar variáveis de ambiente do arquivo .env
pytz==2021.1                   # Biblioteca para manipulação de fusos horários
apscheduler==3.8.1             # Biblioteca para agendamento de tarefas
flask==2.3.2                   # Biblioteca para a criação da API
hypercorn==0.14.0              # Servidor ASGI para o Flask
werkzeug>=2.3.3                  # Versão do werkzeug compatível com o Flask 2.1.1
