requests             # Biblioteca para realizar requisições HTTP (para a API Football)
python-telegram-bot     # Biblioteca para interação com o Telegram Bot
python-dotenv          # Para carregar variáveis de ambiente do arquivo .env
pytz                 # Biblioteca para manipulação de fusos horários
apscheduler             # Biblioteca para agendamento de tarefas
flask                 # Biblioteca para a criação da API
hypercorn             # Servidor ASGI para o Flask
werkzeug                 # Versão do werkzeug compatível com o Flask 2.1.1
flask_sse